@{
    ViewBag.Title = "Change EO Password";
}

<h2>Change EO Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="id">EO ID</label>
        <input type="text" name="id" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Update Password</button>
    @Html.ActionLink("Back to Login", "Login", "EO", null, new { @class = "btn btn-default" })
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" style="margin-top:15px;">
        @ViewBag.Error
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" style="margin-top:15px;">
        @ViewBag.Success
    </div>
}