@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>iPermit System</h1>
    <p class="lead">Regulated Entities can register their organization and apply for environmental permits here.</p>

    <div style="margin-top: 30px;">
        @Html.ActionLink("Create Account", "Create", "REs", null, new { @class = "btn btn-primary btn-lg" })

        @Html.ActionLink("Login", "Login", "REs", null, new { @class = "btn btn-default btn-lg" })
    </div>
</div>